/*
Pamela Fennell
1/24/2022
CE06: HTML Forms
*/

body {
    background-color: #a9d7a9;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}





